<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculatop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link href="libs/mmenu/jquery.mmenu.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">
    <script src="https://use.typekit.net/pca4zir.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<div id="app">
    <header class="header">
        <a href="#" class="header__logo">
            <img src="./img/logo-header.svg" alt="" class="header__logo-img">
        </a>

        <div class="header__nav-wrapper">
            <nav class="header__nav">
                <a href="#" class="header__nav-link">About Us</a>
                <a href="#" class="header__nav-link">Free tools</a>
                <a href="#" class="header__nav-link">Program</a>
                <a href="#" class="header__nav-link">The Team</a>
                <a href="#" class="header__nav-link">Blog</a>
            </nav>
            <a href="#" class="header__btn">Start here</a>
        </div>

        <nav id="my-menu">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Free tools</a></li>
                <li><a href="#">Program</a></li>
                <li><a href="#">The team</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Start here</a></li>
            </ul>
        </nav>

        <a class="header__burger" href="#my-menu">
            <div class="header__burger-dash header__burger-dash__top"></div>
            <div class="header__burger-dash header__burger-dash__middle"></div>
            <div class="header__burger-dash header__burger-dash__bottom"></div>
        </a>
    </header>

    <div class="calc">
        <div class="container">
            <div class="row">
                <h1 class="calc__title">Calculate Your Lean Body Mass</h1>
                <p class="calc__subtitle">Our mission is to cut straight through the noise and confusion that has
                    taken over the fitness and nutrition industry. </p>
               <div class="calc__laptop-bg">
                  <transition name="slide1">
                      <div v-if="formHelpers.formStepOne" class="calc__form-wrapper">
                          <div class="calc__captions-block">
                              <div class="calc__caption">Sex:</div>
                              <div class="calc__caption">Weight:</div>
                              <div class="calc__caption">Height:</div>
                              <div class="calc__caption">Age:</div>
                              <div class="calc__caption">Bmg =</div>
                          </div>
                          <form class="calc-form"
                                @submit.prevent="goToSecondStep()">
                              <div class="calc-form__area">
                                  <div class="calc-form__checkbox-wrapper">
                                      <input class="calc-form__checkbox" id="checkbox_male" type="radio" name="gender" value="Male" checked>
                                      <label class="calc-form__checkbox-label" for="checkbox_male"><span></span>Male</label>
                                  </div>
                                  <div class="calc-form__checkbox-wrapper">
                                      <input class="calc-form__checkbox" id="checkbox_female" type="radio" name="gender" value="Female">
                                      <label class="calc-form__checkbox-label" for="checkbox_female"><span></span>Female</label>
                                  </div>
                              </div>
                              <div class="calc-form__area">
                                  <div class="calc-form__input-group">
                                      <input class="calc-form__input"
                                             v-model="formsFields.weightLbs"
                                             v-validate="'required|numeric'"
                                             v-if="!formHelpers.weightUnitChecked"
                                             type="text"
                                             name="weightLbs"
                                             placeholder="Enter your weight in lbs">
                                      <input class="calc-form__input"
                                             v-model="formsFields.weightKg"
                                             v-validate="'required|numeric'"
                                             v-if="formHelpers.weightUnitChecked"
                                             type="text"
                                             name="weightKg"
                                             placeholder="Enter your weight in kg">
                                      <div class="calc-form__switch">
                                          <input type='checkbox'
                                                 class='ios8-switch'
                                                 id='checkbox_lbs'
                                                 v-model="formHelpers.weightUnitChecked">
                                          <label for='checkbox_lbs'>{{ weightUnit }}</label>
                                      </div>
                                  </div>
                              </div>
                              <div class="calc-form__area">
                                  <div class="calc-form__input-group">
                                       <div class="calc-form__input-ft-group">
                                           <input class="calc-form__input calc-form__input_short"
                                                  v-model="formsFields.heightFeet"
                                                  v-validate="'required|numeric'"
                                                  v-if="!formHelpers.heightUnitChecked"
                                                  type="text"
                                                  placeholder="Feet">
                                           <input class="calc-form__input calc-form__input_short"
                                                  v-model="formsFields.heightInches"
                                                  v-validate="'required|numeric'"
                                                  v-if="!formHelpers.heightUnitChecked"
                                                  type="text"
                                                  placeholder="Inches">
                                       </div>
                                      <input class="calc-form__input"
                                             v-model="formsFields.heightCm"
                                             v-validate="'required|numeric'"
                                             v-if="formHelpers.heightUnitChecked"
                                             type="text"
                                             placeholder="Enter your height in cm">
                                      <div class="calc-form__switch">
                                          <input type='checkbox' class='ios8-switch' id='checkbox_in' v-model="formHelpers.heightUnitChecked">
                                          <label for='checkbox_in'>{{ heightUnit }}</label>
                                      </div>
                                  </div>
                              </div>
                              <div class="calc-form__area">
                                  <input class="calc-form__input calc-form__input_long"
                                         v-model="formsFields.age"
                                         v-validate="'required|numeric'"
                                         type="text" name="age"
                                         placeholder="Enter your age">
                              </div>
                              <div class="calc-form__area">
                                  <button class="calc-form__btn">Calculate</button>
                              </div>
                          </form>
                      </div>
                  </transition>
                  <transition name="slide2">
                      <div v-if="!formHelpers.formStepOne" class="calc__form-wrapper">
                          <div class="bmr">
                              <button class="bmr__btn-back" type="button" @click.prevent="formHelpers.formStepOne = !formHelpers.formStepOne">« back</button>
                              <button class="bmr__btn-back_mobile" @click.prevent="formHelpers.formStepOne = !formHelpers.formStepOne">«</button>
                              <h5 class="bmr__title">Your bmr is:</h5>
                              <div class="bmr__circle">
                                  <div class="bmr__circle-item">
                                      <div class="bmr__circle-item_inner">
                                          <span class="bmr__circle-title">4,232</span>
                                          <span class="bmr__circle-desc">calories / day</span>
                                      </div>
                                  </div>
                              </div>
                              <form class="bmr__form" action="" class="bmr__form"
                                    @submit.prevent="submitForm()">
                                  <div class="bmr__form-area">
                                      <img class="bmr__caption-arrow" src="img/arrow-calc.png" alt="">
                                      <p class="bmr__caption-title">Subscribe to our lorem ipsum:</p>

                                      <input class="calc-form__input bmr__input_first"
                                             v-model="formsFields.name"
                                             v-validate="'required'"
                                             type="text" name="first name"
                                             placeholder="Enter your first name">
                                      <input class="calc-form__input bmr__input_second"
                                             v-model="formsFields.email"
                                             v-validate="'required|email'"
                                             type="text" name="email"
                                             placeholder="Enter email">
                                      <button class="calc-form__btn bmr__btn-go">Go</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </transition>
               </div>
            </div>
        </div>
    </div>

    <div class="text">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <p><b>If you want to lose weight, get in shape, build muscle, feel good, healthy and positive about
                        yourself then you have come to the right place!</b>
                    </p>
                    <p>If you want to lose weight, get in shape, build muscle, feel good, healthy and positive about
                        yourself then you have come to the right place!
                    </p>
                    <p>We are dedicated to one things only, that is making sure that you reach your body transformation
                        goals and become stronger, healthier, happier and more confident then ever before.
                    </p>
                    <p>We are a team of certified nutritionists, dietitians, personal trainers, physical therapists,
                        and motivational coaches that have helped thousands of people transform their lives through out
                        the years. We have worked with everyone from high level athletes to couch potatoes..
                        from people that want to melt off a few pounds to people that want a complete body
                        transformation, we have seen it all and are constantly improving our methods to guarantee
                        each person we work with reaches their transformation goals.
                    </p>
                    <p>The truth is, its not that complicated.. you just need to know what you’re doing! and that’s
                        why we’re here.. <b>people do many things wrong when trying to transform their bodies..
                            checkout some of those things here: </b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer container">
        <p class="footer__copy"></p>
        <nav class="footer__nav">
            <a href="#" class="footer__link">Terms</a>
            <a href="#" class="footer__link">Privacy</a>
            <a href="#" class="footer__link">About</a>
            <a href="#" class="footer__link">Press</a>
            <a href="#" class="footer__link">Jobs</a>
            <a href="#" class="footer__link">Feedback</a>
            <a href="#" class="footer__link">Site Map</a>
            <a href="#" class="footer__link">Rss</a>
        </nav>
    </footer>
    <transition name="calc-overlay">
        <div class="calc-overlay" v-if="formHelpers.calcOverlay" v-cloak>
            <p class="calc-overlay__title">Calculating your results</p>
        </div>
    </transition>
</div>

<script src="libs/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.14/dist/vee-validate.js"></script>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/mmenu/jquery.mmenu.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#my-menu").mmenu({
            // options
        }, {
            // configuration
            offCanvas: {
                pageSelector: "#app"
            }
        });
    });
</script>
<script src="js/frombox.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>