.calc-form__checkbox-wrapper {
  margin-right: 32.5px;

  label {
    margin-bottom: 0;
    display: flex; // to make it easier to click
    align-items: center;
    cursor: pointer;
    position: relative; // important

    // Now we'll create the checkbox object

    span {
      display: inline-block;
      position: relative;
      transform-origin: center;
      width: 34px;
      height: 34px;
      border-radius: 5px;
      background-color: $white;
      box-shadow: 0 1px 3px 0 $transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.15);
      vertical-align: -6px;
      margin-right: 12px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); // custom ease effect for bouncy animation

      // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"

      &:before {
        content: "";
        width: 0px;
        height: 2px;
        border-radius: 2px; // so that the tick has nice rounded look
        background: #fff;
        position: absolute;
        transform: rotate(45deg);
        top: 13px; // you'll need to experiment with placement depending on the dimensions you've chosen
        left: 9px; // you'll need to experiment with placement depending on the dimensions you've chosen
        transition: width 50ms ease 50ms;
        transform-origin: 0% 0%;
      }

      &:after {
        content: "";
        width: 0;
        height: 2px;
        border-radius: 2px; // so that the tick has nice rounded look
        background: #fff;
        position: absolute;
        transform: rotate(305deg);
        top: 22px; // you'll need to experiment with placement depending on the dimensions you've chosen
        left: 15px; // you'll need to experiment with placement depending on the dimensions you've chosen
        transition: width 50ms ease;
        transform-origin: 0% 0%;
      }
    }
    // Time to add some life to it

    &:hover {
      span {
        &:before {
          width: 5px;
          transition: width 100ms ease;
        }

        &:after {
          width: 10px;
          transition: width 150ms ease 100ms;
        }
      }
    }
  }

  input[type="radio"] {
    display: none; // hide the system checkbox

    // Let's add some effects after the checkbox is checked

    &:checked {
      + label {
        span {
          background-color: #fff;
          transform: scale(1.03); // enlarge the box

          &:after {
            width: 17px;
            background: $steel-blue;
            transition: width 150ms ease 100ms; // enlarge the tick
          }

          &:before {
            width: 12px;
            background: $steel-blue;
            transition: width 150ms ease 100ms; // enlarge the tick
          }
        }

        &:hover { // copy the states for onMouseOver to avoid flickering
          span {
            background-color: #fff;
            transform: scale(1.03); // enlarge the box
          }
        }
      }
    }
  }
}