
@import "features/checkbox";
@import "features/switch";
@import "features/animated-circle";

.calc {
  padding-top: 136px;
  margin-bottom: 60px;
  background: lightyellow no-repeat left bottom;

  &__title {
    font-size: 34px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 27px;
    font-size: 22px;
    text-align: center;
    color: $slate;
  }

  &__laptop-bg {
    position: relative;
    margin: 0 calc((100% - 1072px)/2);
    height: 561px;
    width: 1072px;
    background: url('../img/macbook.png') no-repeat center bottom;
    background-size: contain;
    border: 1px solid transparent; // temp
  }

  &__form-wrapper {
    position: relative;
    display: flex;
    margin: 31px 150px 0;
    //border: 1px solid black;
    width: 772px;
    height: 450px;
  }

  &__captions-block {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 450px;
  }

  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;

    font-size: 16px;
    font-weight: bold;
    color: $steel-blue;
    text-transform: uppercase;
    background: $white;
    border-bottom: solid 1px rgb(222, 231, 237);

    &:last-child {
      border-bottom: none;
    }
  }
}

.calc-form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 175px);
  height: 450px;

  background-color: $pale-grey-four;

  &__area {
    display: flex;
    align-items: center;
    padding-left: 39px;
    height: 20%;

    border-bottom: solid 1px rgb(222, 231, 237);
    background-color: $pale-grey-four;

    &:last-child {
      border-bottom: none;
    }
  }

  &__checkbox-label {
    font-size: 16px;
    letter-spacing: 0.4px;
    text-align: center;
    color: $steel-blue;
  }

  &__input-group {
    position: relative;
  }

  &__input {
    position: relative;
    padding: 16px 96px 17px 19px;
    width: 361.3px;
    height: 54px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 1px 3px 0 $transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: 0.31;
      font-family: Lato;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: $light-navy-blue;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: 0.31;
      font-family: Lato;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: $light-navy-blue;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: 0.31;
      font-family: Lato;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: $light-navy-blue;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: 0.31;
      font-family: Lato;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: $light-navy-blue;
    }
  }

  &__switch {
    position: absolute;
    right: 0;
    top: 11px;
    width: 95px;
  }

  &__btn {
    width: 361px;
    height: 54px;
    border-radius: 3px;
    background-image: linear-gradient(95deg, $azure, rgb(0, 118, 245));

    font-family: FuturaTEE-Medi;
    font-size: 18px;
    text-align: center;
    color: $white;
    @extend .wave;
  }
}

.bmr {
  position: relative;
  width: 100%;
  height: 100%;

  &__btn-back {
    position: absolute;
    top: 14.5px;
    left: 11.5px;
    display: inline-block;
    height: 34px;
    padding: 0 15px;

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: $slate;

    vertical-align: middle;
    border-radius: 4px;
    background-color: $duck-egg-blue;
    border: solid 1px rgb(239, 247, 253);
    @extend .wave;

    &_mobile {
      display: none;
    }
  }

  &__title {
    margin-top: 25px;
    margin-bottom: 70px;
    font-weight: bold;
    text-align: center;
  }

  &__form {
    margin-left: 40px;
    margin-right: 35px;
    display: flex;
    justify-content: space-between;
  }

  &__input_first {
    width: 40%;
  }

  &__input_second {
    width: 40%;
  }

  &__btn-go {
    width: 93px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 $transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    @extend .wave;
  }

}


@media (max-width: 1072px) {
  .calc {
    &__laptop-bg {
      position: static;
      width: 770px;
      height: auto;
      margin: 0 calc((100% - 770px) / 2);
      background: $white;
    }

    &__form-wrapper {
      margin: 0;
      width: 100%;
      border-radius: $borderRad;
      box-shadow: 0 15px 35px 0 $transparent-2, 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    }
  }

  .calc-form {
    &__area {
      background-color: $white;
    }
  }
}


@media (max-width: $sm) {
  .calc {
    padding-top: 99px;
    margin-bottom: 27px;

    &__subtitle {
      margin-bottom: 37px;
      padding: 0 10%;
    }

    &__laptop-bg {
      width: 510px;
      margin: 0 calc((100% - 510px) / 2);
      background: $white;
    }

    &__form-wrapper {
      height: auto;
    }

    &__captions-block {
      width: 120px;
    }

    &__caption {
      justify-content: flex-end;
      padding-right: 27px;
    }

  }

  .calc-form {
    width: calc(100% - 120px);
    background-color: $white;

    &__area {
      padding-left: 0;
    }

    &__input {
      width: 361px;
    }
  }

  .bmr {
    &__title {
      margin-top: 29px;
      font-size: 24px;
    }

    &__input_first {
      width: 100%;
      margin-bottom: 12px;
    }

    &__input_second {
      width: 100%;
      margin-bottom: 12px;
    }

    &__btn-go {
      width: 100%;
      margin-bottom: 27px;
    }
  }
}



@media (max-width: $xs) {
  .calc {
    padding-bottom: 73px;
    margin-bottom: 23px;

    &__title {
      margin-bottom: 16px;
      font-size: 28px;
    }

    &__subtitle {
      margin-bottom: 32px;
      padding: 0 34px;
      font-size: 18px;
    }

    &__laptop-bg {
      width: 80%;
      margin: 0 10%;
    }

    &__captions-block {
      display: none;
    }
  }

  .calc-form {
    width: 100%;

    &__area {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__input-group {
      width: 100%;
    }

    &__input {
      width: 100%;
      box-shadow: none;
    }

    &__btn {
      width: 100%;
    }
  }

  .bmr {
    &__btn-back {
      display: none;

      &_mobile {
        position: absolute;
        top: 14.5px;
        left: 11.5px;
        display: inline-block;
        height: 43px;
        padding: 0 12px;

        opacity: 0.7;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: $electric-blue;

        vertical-align: middle;
        border-radius: 4px;
        background-color: $duck-egg-blue;
        border: solid 1px rgb(239, 247, 253);
      }
    }

    &__title {
      margin-top: 22px;
    }

    &__form {
      margin: 0 30px;
    }

    &__input_first,
    &__input_second {
      box-shadow: 0 1px 3px 0 transparent, 0 1px 3px 0 rgba(0,0,0,.15);
    }
  }

}