
.blog-top {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 690px;
  margin-bottom: -15px;
  background: linear-gradient(to right, #ffffff 1%, #ebeff3 100%);

  &::after {
    @extend %skew__bottom;
    bottom: -45px;
    background: $white;
  }

  &__bg {
    width: 100%;
    height: 100%;
    background-image: url('../img/getstarted-top.png');
    background-repeat: no-repeat;
    background-position: calc(50% + 400px) 60%;
    background-size: 506px 550px;
  }

  &__title {
    padding-top: 205px;
  }

  &__sub-title {
    margin-bottom: 22px;

    @include fontSH(28px, 32px);
    color: $battleship-grey;
  }

  &__btn {
    padding: 16px 34px;
    @include borderButton($electric-blue);
  }

  &__btn:hover {
    @include borderButtonHover($electric-blue);
  }

}

.text p {
  margin-bottom: 18px;
}

.promo {
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  position: relative;
  text-align: right;

  &_center {
    text-align: center;
  }

  &_gray-bg {
    background-image: linear-gradient(to right, $white, rgb(243, 241, 242));
  }

  &_black-bg {
    background-color: $black;
  }

  &__pic {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 654px;

    &_min {
      width: auto;
    }
  }

  &__info {
    position: absolute;
    top: -500px;
    text-align: left;
  }

  &__title_big {
    font-size: 44px;
  }

  &__title_big_light {
    color: $white;
  }

  &__btn {
    padding: 15px 27px;
    @include borderButton($black);
    line-height: 18px;
  }

  &__btn:hover {
    @include borderButtonHover($black);
  }

  &__btn_light {
    padding: 15px 27px;
    @include borderButton($white);
    line-height: 18px;
  }

  &__btn_light:hover {
    @include borderButtonHover($white);
    color: $black;
  }

}

.promo-block {
  margin-bottom: 18px;
  position: relative;
  text-align: center;

  &__pic {
    margin: 0 auto;
  }

  &__img {
      width: 768px;
      height: auto;
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    width: 345px;
    text-align: left;
  }

  &__info_left {
    left: calc((100% - 540px) / 2);
  }

  &__info_left_bottom {
    left: calc((100% - 540px) / 2);
    top: 40%;
    transform: translate(0);
  }

  &__info_center_top {
    left: 50%;
    top: 63px;
    transform: translate(-50%, 0);
  }

  &__info_center_top2 {
    left: 50%;
    top: 22%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  &__title {
    font-size: 34px;
    margin-top: 0;
  }

  &__title_light {
    color: $white;
  }

  &__btn {
    padding: 15px 27px;
    @include borderButton($black);
  }

  &__btn:hover {
    @include borderButton($black);
  }

  &__btn_light {
    @include borderButton($white);
  }

  &__btn_light:hover {
    @include borderButton($white);
  }
}




@media (max-width: $sm) {
  .blog-top {
    height: 570px;
    margin-bottom: 0;

    &::after {
      height: 50px;
      bottom: -25px;
    }

    &__bg {
      background-position: calc(50% + 250px) 86%;
      background-size: 406px 450px;
    }

    &__title {
      padding-top: 131px;
    }

    &__sub-title {
      font-size: 22px;
    }
  }

  .promo {
    &__img {
      height: 353px;
    }

    &__info {
      top: -275px;
    }

    &__title_big {
      font-size: 24px;
    }

    &__title_big_light {
      color: $white;
    }

    &__btn {
      padding: 14px 18px;
    }

  }

  .promo-block {
    &__pic {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__info {
      width: 273px;
    }

    &__info_left {
      left: 25%;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: $xs) {
  .blog-top {
    height: 450px;
    text-align: center;

    &__bg {
      background-position: 50% 152px;
      background-size: 374px 400px;
    }

    &__title {
      padding-top: 68px;
      margin: 0 -15px;
    }

    &__sub-title {
      display: none;
    }

    &__btn {
      display: none;
    }
  }

  .promo {
    text-align: center;

    &_gray-bg, &_black-bg {
      background: transparent;
    }

    &__img {
      height: 436px;
      width: 375px;
    }

    &__info {
      position: static;
      margin-top: -25px;
      padding: 1px 20px 16px;
      background: $white;
      opacity: .9;
    }


    &__title_big {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    &__title_big_light {
      color: $black;
    }

    &__btn {
      border: none;
      padding: 0;
      font-size: 16px;
    }

    &__btn_light {
      color: $black;
    }
  }

  .promo-block {
    &__img {
      height: 436px;
      width: 375px;
    }

    &__info {
      width: 80%;
      position: static;
      margin-top: -25px;
      margin-left: auto;
      margin-right: auto;
      padding: 1px 20px 16px;
      opacity: .9;
      background: $white;
    }

    &__info_center_top {
      transform: translate(0);
    }

    &__info_center_top2 {
      transform: translate(0);
      text-align: left;
    }

    &__title {
      margin-top: 10px;
    }

    &__title_light {
      color: $black;
    }

    &__title_big_light {
      margin-top: 10px;
      color: $black;
    }

    &__btn {
      font-size: 16px;
      padding: 0;
      border: none;
    }

    &__btn_light {
      color: $black;
    }
  }
}