.landing {
  width: 100%;
  height: 92.5vh;
  box-sizing: border-box;
  background: url('../img/landing-bg1590x815.png') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    background-color: $white;
    border-radius: $borderRad;
    padding: 30px 85px 45px 85px;
    width: 702px;
    text-align: center;
    box-shadow: $shadow;
  }

  &__bg-mobile {
    display: none;
  }

  &__logo-img {
    margin-bottom: 8px;
  }

  &__logo-mobile {
    display: none;
  }

  &__sub-title {
    color: $slate;
  }

  &__btn-wrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    @extend %blue-button;
    @extend .wave;
    margin-bottom: 16.5px;
    padding: 20px 50px;
  }

  &__btn:focus {
    color: $white;
    text-decoration: none;
  }

  &__btn:last-child {
    margin-bottom: 0;
  }
}




@media(max-width: $sm) {
  .landing {
    background: url('../img/landing-bg991x815.png') no-repeat center;

    &__container {
      padding: 40px 50px 55px 50px;
      width: 510px;
    }

    &__logo-img {
      margin-bottom: 3px;
    }

    &__btn-wrapper {
      margin-top: 25px;
    }

    &__btn {
      margin-bottom: 16.5px;
      padding: 20px 50px;
    }
  }
}


@media(max-width: $xs) {
  .landing {
    background: $white;

    &__container {
      padding: 0 20px 20px 20px;
      width: calc(100% - 40px)
    }

    &__bg-mobile {
      display: block;
      width: calc(100% + 40px);
      height: 143px;
      margin-left: -20px;
      margin-right: -20px;
    }

    &__logo-img {
      display: none;
    }

    &__logo-mobile {
      display: block;
      margin-top: 30px;
      margin-bottom: 16px;
    }
  }
}