.see-results {
  padding: 50px 0;

  &__container {
    width: 60%;
    margin: 0 auto;
  }

  &__item {
    margin-bottom: 50px;

    &-title {
      margin-bottom: 30px;
      font-family: 'ff-tisa-web-pro', "Times New Roman", Times, serif;
      font-size: 44px;
      line-height: 1.2;
      text-align: center;

      &_small {
        font-size: 34px;
      }

      &_red {
        color: $darkish-pink-two;
      }
    }

    &-desc {
      margin-bottom: 30px;
      font-family: 'FreightSans Pro Book', Arial, sans-serif;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
    }
  }

  &__item-list-block {
    display: flex;
    justify-content: center;
  }

  &__item-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item-list-point {
    padding-left: 20px;
    font-family: 'FreightSans Pro Book', Arial, sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 12px;
    
    &_cross {
      background-image: url("../img/unused_program/crossed.svg");
    }
  }
}

@media (max-width: $sm) {
  .see-results {
    padding: 40px 0;

    &__container {
      width: 80%;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__item-title {
      font-size: 30px;
    }

    &__item-desc {
      font-size: 18px;
    }

    &__item-list-point {
      font-size: 18px;
    }
  }
}

@media (max-width: $xs) {
  .see-results {
    padding-bottom: 0;

    &__container {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__item-title {
      margin-bottom: 20px;
    }

    &__item-desc {
      margin-bottom: 20px;
      text-align: left;
    }

    &__item-list-block {
      justify-content: flex-start;
    }
  }
}

