.decision {
  padding: 80px 0;
  background-image: url("../img/unused_program/decision_bg.jpg");
  background-size: cover;

  &__block {
    width: 50%;
    padding: 50px 65px;
    background-color: $white;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    border-radius: 3px;
  }

  &__block-title {
    margin-top: 0;
    font-family: 'ff-tisa-web-pro', "Times New Roman", Times, serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
  }

  &__block-text {
    margin-bottom: 30px;
    font-family: 'FreightSans Pro Book', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
  }

  &__block-btn {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
  }

  &__btn {
    @extend %blue-button;
    @extend .wave;
    width: auto;
    padding: 15px 60px;
  }

  &__block-arrow {
    position: absolute;
    display: block;
    left: 27%;
    bottom: -20px;
  }
}

@media (max-width: $sm) {
  .decision {

    &__block {
      width: 100%;
    }

    &__block-title {
      font-size: 30px;
    }

    &__block-arrow {
      left: 38%;
    }
  }
}

@media (max-width: $xs) {
  .decision {

    &__block {
      padding: 30px;
    }

    &__container {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__block-title {
      font-size: 24px;
    }

    &__block-text {
      font-size: 18px;
    }

    &__block-arrow {
      left: 10%;
    }

    &__btn {
      width: 100%;
      font-size: 18px;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }
  }
}