.slider2 {
  position: relative;
  padding-top: 98px;

  &::after {
    @extend %skew__bottom;
    bottom: -62px;
    background-color: $pale-grey-three;
  }

  &__title {
    margin-bottom: 7px;
    text-align: center;
  }

  &__desc {
    margin: 0 auto;
    margin-bottom: 84px;
    width: 615px;
    @include fontSH(24px, 26px);
    text-align: center;
    color: $gunmetal;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__text-block {
    padding: 45px 41px 136px 45px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: 200px;
    width: 433px;
    box-shadow: $shadow;
  }

  &__text {
    font-size: 20px;
    line-height: 1.1;
    color: $charcoal-grey-two;
  }

  &__img-block {
    position: absolute;
    width: auto;
    height: 497px;
    left: 130px;
    top: 0;
    padding-left: 70px;
  }

  &__img {
    height: 100%;
  }

  &__person-details {
    position: absolute;
    top: 120px;
    left: 0;

    &_mobile {
      display: none;
      position: static;
    }
  }

  &__name {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: $charcoal-grey-two;
  }

  &__post {
    font-size: 14px;
    font-style: italic;
    line-height: 1.57;
    text-align: center;
    color: $charcoal-grey-two;
  }

  &__bullets {
    left: 170px!important;
    bottom: 50px!important;
  }
}

@media(max-width: 1200px) {
  .slider2 {
    &__text-block {
      margin-right: 50px;
    }

    &__img-block {
      left: 50px;
    }

    &__bullets {
      left: 220px!important;
    }
  }
}

@media (max-width: $sm) {
  .slider2 {
    padding-top: 50px;

    &::after {
      height: 50px;
      bottom: -24px;
    }

    &__desc {
      margin-bottom: 30px;
    }

    &__text-block {
      margin-top: 0;
      margin-right: 40px;
      padding: 32px 41px 87px;
      width: 376px;
    }

    &__img-block {
      left: 70px;
      padding-left: 0;
    }

    &__person-details {
      display: none;

      &_mobile {
        display: block;
      }
    }

    &__bullets {
      left: 140px!important;
    }
  }
}

@media (max-width: $xs) {
  .slider2 {
    padding-top: 0;

    &::after {
      z-index: 1;
    }

    &__title {
      padding: 0 32px;
    }

    &__desc {
      padding: 0 32px;
      width: 100%;
      @include fontSH(18px, 22px);
    }

    &__wrapper {
      min-height: 700px;
      z-index: 2;
    }

    &__text-block {
      margin-top: 321px;
      margin-bottom: 28px;
      margin-right: auto;
      width: 80%;
      background: $white;
    }

    &__img-block {
      top: 0;
      left: 50%;
      height: 321px;
      transform: translate(-50%, 0);
    }

    &__bullets {
      left: 0!important;
      bottom: 50px!important;
    }
  }
}