.video-container {
  position: relative;
  margin-top: 50px;
  z-index: 1;
  pointer-events: none;
}

@media (min-width: 768px) {
  .video-container {
    max-width: 600px;
  }
}

@media (min-width:992px) {
  .video-container {
    position: absolute;
    width: 165%;
    max-width: none;
    top: -120px;
    left: 65px;
    perspective: 1200px;
    perspective-origin: 80% 80%;
    z-index: 1000;

    &::before {
      position: absolute;
      top: 150px;
      right: 5%;
      content: '';
      background: url('../img/video-arrow.png') no-repeat center;
      background-size: contain;
      width: 323px;
      height: 62px;
    }
  }
}

.video-container.collapsed .video {
  cursor: pointer;
  transform: scale(1) rotateX(3deg) rotateY(-15deg) rotate(0deg) translateX(140px) translateY(-20px)!important;
}


@media (min-width:992px) {
  .video-container.collapsed .video {
    cursor: pointer;
    transform: scale(.45) rotateX(3deg) rotateY(-15deg) rotate(-1deg) translateX(500px) translateY(300px)!important;
  }
  .video-container.collapsed .video video {
    border-radius: 14px;
  }
}

.video-container.collapsed.show-play .play {
  opacity: 1;
  transform: scale(0.5);
}


.video-container .video {
  position: relative;
  pointer-events: all;
  border-radius: 12px;
  box-shadow: 0 15px 10px -40px rgba(50,50,93,.55), 0 20px 19px -10px rgba(0,0,0,.14);
}

.video-container .video.animated {
  transition: transform .4s cubic-bezier(.645, 0, .355, 1);
}

@media (min-width:992px) {
  .video-container .video {
    box-shadow: 0 55px 70px -20px rgba(50, 50, 93, .55), 0 20px 30px -10px rgba(0, 0, 0, .14);
  }
}


.video-container .video:active .play {
  transform: none;
}
.video-container .video video {
  background-color: #32325d;
  display: block;
  position: relative;
  border-radius: 6px;
  transition: border-radius .4s cubic-bezier(.645, 0, .355, 1);
}
.video-container .video .play {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  margin-top: -60px;
  left: 50%;
  margin-left: -60px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, .5);
  opacity: 0;
  transform-style: preserve-3d;
  pointer-events: none;
  background-image: url('../img/play.svg');
  background-position: calc(50% + 4px) 50%;
  background-repeat: no-repeat;
  transition: opacity .4s cubic-bezier(.645, 0, .355, 1), transform .15s cubic-bezier(.645, 0, .355, 1);
}
.video-caption {
  position: relative;
  margin-top: 30px;
  font-style: italic;
}


@media(max-width: 768px) {
  .video__overflow-mobile {
    overflow-x: hidden;
    margin: 0 -15px;
    margin-top: -65px;
    width: calc(100% + 30px);
  }
}
