

.wyg-top {
  position: relative;
  padding-top: 85px;
  padding-bottom: 0;

  &::after {
    @extend %skew__bottom;
    background: $white;
    bottom: 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__txt {
    margin-right: 33.5px;
    padding-top: 53px;
    width: 344px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 34px;
  }

  &__desc {
    margin-bottom: 33px;
    color: $slate;
    line-height: 26px;
  }

  &__more {
    margin-bottom: 46px;
    display: block;

    font-size: 18px;
    font-weight: bold;
    color: $electric-blue;
  }

  &__btn {
    width: 58px;
    height: 58px;

    border: 1px solid $silver;
    border-radius: 50%;
    background: transparent url('../img/arrow-down1x10.png') no-repeat center;

    animation: bounce 2s infinite;
    @extend .wave;
  }

  &__btn:hover {
    background-color: $electric-blue;
    border: 1px solid $electric-blue;
    animation: none;
  }

  &__img-wrapper {
    width: calc(100% - 377px);
  }

  &__img {
    position: relative;
    z-index: 3;
    width: 100%;
  }
}

.wyg-module {
  position: relative;

  &::after {
    @extend %skew__bottom;
  }

  &_first {
    padding-top: 150px;
    margin-top: -50px;
    background-color: $pale-grey-three;
  }

  &_first::after {
    background-color: $white;
  }

  &_second {
    padding-top: 100px;

    &::after {
      content: none;
    }
  }

  &_third {
    padding-top: 115px;
    background-color: $pale-grey-three;

    background-repeat: no-repeat;
    background-image:
            url('../img/days@2x.png'), url('../img/photos1@2x.png'), url('../img/photos2@2x.png'), url('../img/photos3@2x.png'), url('../img/photos4@2x.png'), url('../img/photos-caption@2x.png');
    background-position: 0 400px, 66% 102%, 81% 90%, 92% 75%, 109% 62%, 95% 88%;
    background-size: 88%, 214px 240px, 247px 206px, 243px 191px, 263px 200px, 239px 158px;

    &::before {
      z-index: -1;
      background-color: $pale-grey-three;
      @extend %skew__top;
    }

    &::after {
      background-color: $white;
    }
  }

  &_fourth {
    padding-top: 92px;
    background: url('../img/tracking-bg.png') no-repeat center;
    background-size: cover;

    &::after {
      content: none;
    }
  }

  &_fifth {
    margin-top: -1px;
    padding-top: 127px;
    background-color: $pale-grey-three;

    &::after {
      background: $white;
    }

    &__img {
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: 0;
      width: 675px;
      height: 544px;
    }
  }

  &_sixth {
    position: relative;
    z-index: 2;
    padding-top: 70px;
    background: $white;
  }

  &_sixth::after {
    z-index: -1;
    background-color: $pale-grey-three;
  }

  &_seventh {
    padding-top: 70px;
    background-color: $pale-grey-three;

    &::after {
      z-index: 1;
      background-color: $pale-grey-three;
    }
  }

  &_eighth {
    z-index: 3;

    &::after {
      content: none;
    }

    &::before {
      content: none;
    }
  }


  &__title {
    margin-bottom: 4px;
    @include fontSH(28px, 34px);
    font-weight: bold;
    text-align: center;

    &_sixth {
      margin-bottom: 12px;
      font-size: 34px;
    }

    &_seventh {
      font-size: 34px;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    @include fontSH(24px, 28px);
    text-align: center;
    color: $slate;

    &_sixth {
      margin-bottom: 89px;
    }
  }

  &__list-block {
    position: relative;
    z-index: 5;
    padding: 30px 51px;
    background: $white;
    box-shadow: $shadow;
  }

  &__list {
    position: relative;
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: -20px;
      width: 11px;
      height: 11px;
      background: url('../img/check.svg') no-repeat center;
      background-size: 10.7px 11px;
    }
  }

  &__item-title {
    margin-bottom: 5px;
    @include fontSH(20px, 24px);
    font-weight: bold;
  }

  &__item-desc {
    @include fontSH(18px, 22px);
    color: $slate;
  }

  &__video-container {
    position: absolute;
    z-index: 1;
    right: -20px;
    left: 0;
    bottom: 0;
    width: 200%;
    max-width: none;
    perspective: 1200px;
    perspective-origin: 80% 80%;
  }

  &__video {
    cursor: pointer;
    transform: scale(.5) rotateX(-1deg) rotateY(-7deg) rotate(1deg) translateX(500px) translateY(120px)!important;
    box-shadow: $shadow;
  }

  &__video-tag {
    width: 100%;
    background-color: #32325d;
    display: block;
    position: relative;
    border-radius: 6px;
    transition: border-radius .4s cubic-bezier(.645,0,.355,1);
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;

    border-radius: 50%;
    background-color: hsla(0,0%,100%,.5);
    opacity: 0;
    transform-style: preserve-3d;
    pointer-events: none;
    background-image: url(../img/play.svg);
    background-position: calc(50% + 4px) 50%;
    background-repeat: no-repeat;
    transition: opacity .4s cubic-bezier(.645,0,.355,1),transform .15s cubic-bezier(.645,0,.355,1);
  }

  &__video-caption {
    position: absolute;
    right: 200px;
    top: 130px;
    width: 316px;
    height: auto;
  }

  &__strawberry {
    position: absolute;
    z-index: 5;
    right: -100px;
    bottom: -120px;
    width: 203px;
    height: 245px;
  }

  &__left-laptop {
    position: absolute;
    z-index: 1;
    left: -112%;
    top: 30px;
    width: 816px;
    height: 669px;

  }

}

.wyg-module__video-container.collapsed  .wyg-module__play {
  opacity: 1;
}

.icon-block {
  position: relative;
  margin: 0 calc((100% - 200px) / 2);
  margin-bottom: 17px;
  width: 200px;

  text-align: center;


  &__title {
    font-family: "eurostile", sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $slate;
  }

  &__main-icon {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
  }

  &__main-icon_plus {
    margin-bottom: 0;
    height: 54px;
    width: 157px;
  }

  &__small-icon {
    position: absolute;
  }

  &__small-icon_1 {
    top: -25px;
    left: 10px;
  }

  &__small-icon_2 {
    top: -25px;
    right: -15px;
  }

  &__small-icon_3 {
    top: 50px;
    left: -25px;
  }

  &__small-icon_4 {
    top: 50px;
    right: 20px;
  }

  &__small-icon_5 {
    top: -25px;
    left: -21px;
  }

  &__small-icon_6 {
    top: -25px;
    right: 18px;
  }

  &__small-icon_7 {
    top: 50px;
    left: 5px;
  }

  &__small-icon_8 {
    top: 50px;
    right: -9px;
  }
}

.wyg-section {
  margin-bottom: 95px;

  &_last {
    padding-bottom: 90px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content-wrapper {
    position: relative;
    width: 100%;
  }

  &__img {
    width: 100%;
    box-shadow: $shadow;
  }

  &__video {
    width: 100%;
    box-shadow: $shadow;
  }

  &__txt {
    margin-top: 40px;
  }

  &__title {
    margin-bottom: 17px;
    @include fontSH(24px, 29px);
    font-weight: bold;
  }

  &__desc {
    font-size: 18px;
    color: $slate;
  }

  &__tip-block {
    padding-top: 25px;
    padding-left: 20px;
  }

  &__tip-img {
    width: 315px;
    height: 137px;
  }
}

.sale {
  display: flex;
  margin-bottom: 85px;
  box-shadow: $shadow;
  border-radius: $borderRad;

  &__gradient {
    padding: 84px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: linear-gradient(50deg, #1f16df, #2751d4, #6ea9ca);
    background-size: 400% 400%;

    animation: gradient 29s ease infinite;
  }

  &__img {
    width: 100%;
  }

  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: $white;

    &::before {
      content: none;
    }
  }

  &__title {
    margin-bottom: 8px;
    margin-top: 0;
  }

  &__desc {
    width: 80%;
    margin-bottom: 25px;
    @include fontSH(24px, 28px);
    text-align: center;
    color: $slate;
  }

  &__advantages {
    margin-bottom: 35px;
  }

  &__advantage {
    position: relative;
    padding-left: 75px;
    margin-bottom: 35px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;

      width: 63px;
      height: 68px;
      transform: translate(0, -50%);
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &_first::before {
      background-image: url('../img/30day@2x.png');
    }

    &_second::before {
      background-image: url('../img/onetime@2x.png');
    }

    &_third {
      margin-bottom: 0;
    }

    &_third::before {
      background-image: url('../img/fees@2x.png');
    }
  }

  &__adv-title {
    margin-bottom: 0;
    font-family: ff-tisa-web-pro,Times New Roman,Times,serif;
    @include fontSH(18px, 22px);
    font-weight: bold;
    font-style: normal;
    color: $black;
    text-transform: uppercase;
  }

  &__adv-desc {
    font-size: 18px;
    font-style: italic;
    color: $slate;
  }

  &__prices {
    position: relative;
    margin-bottom: 24px;

    &-img {
      position: absolute;
      top: -70px;
      right: -102px;
      width: 84px;
      height: 136px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 316px;
    min-height: 48px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.27);

    &:last-child {
      border-bottom: none;
    }

    &-name {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;

      &_total {
        font-size: 16px;
      }
    }

    &-count {
      margin: 0;
      font-size: 34px;

      &_gold {
        font-weight: bold;
        color: $butterscotch;
      }
    }
  }

  &__crossed {
    text-decoration: line-through;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    min-height: 78px;

    color: $white;
    font-size: 22px;

    border: none;
    border-radius: 100px;
    background-color: $butterscotch;
    box-shadow: $shadow;
    @extend .wave;
  }
}

.stories {
  &__big-title {
    margin-bottom: 10px;
    font-size: 34px;
  }

  &__subtitle {
    margin-bottom: 48px;
  }

  &__story {
    display: flex;
    margin-bottom: 53px;
  }

  &__img-wrapper {
    margin-right: 47px;
    width: 44%;
    height: 223px;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 56%;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 7px;
    font-weight: bold;
  }

  &__desc {
    @include fontSH(18px, 22px);
    color: $slate;
  }
}


@media (min-width: 1700px) {
  .wyg-module_fifth__img {
    left: calc(50% - 150px);
    right: auto;
  }
}

@media (max-width: 1370px) {
  .wyg-module {
    &__video-container {
      bottom: 25%;
      width: 76vw;
    }

    &__video-caption {
      top: 10vw;
      right: 8vw;
      width: 200px;
    }
  }
}

@media (max-width: 1199px) {
  .wyg-section {
    &__tip-block {
      padding-left: 0;
      margin-left: -30px;
    }
  }
}

@media (max-width: $sm) {
  .wyg-top {
    padding-top: 99px;

    &::after {
      bottom: 24px;
      height: 50px;
    }

    &__inner {
      flex-direction: column;
    }

    &__txt {
      width: 100%;
      padding-top: 0;
      text-align: center;

    }

    &__title {
      margin: 0 auto 20px;
      width: 80%;
      line-height: 40px;
    }

    &__desc {
      margin-bottom: 24px;
      font-size: 22px;
    }

    &__more, &__btn {
      display: none;
    }

    &__img-wrapper {
      width: 100%;
    }

    &__img {
      width: 100%;
    }
  }

  .wyg-module {

    &::after {
      bottom: -25px;
      height: 50px;
    }

    &_first {
      padding-bottom: 272px;
    }

    &_second {
      padding-top: 85px;
      background: url('../img/strawberries@2x.png') repeat-x;
      background-position: 3% 106%;
      background-size: 127px 197px;

      &::after {
        content: none;
      }
    }

    &_third {
      padding-top: 90px;
      padding-bottom: 170px;

      background-image: url('../img/days@2x.png'), url('../img/photos1@2x.png'), url('../img/photos2@2x.png'), url('../img/photos3@2x.png'), url('../img/photos4@2x.png');
      background-position: 0 400px,29% 99%,106% 76%,3% 110%,109% 62%;
      background-size: 88%, 214px 240px, 247px 206px, 243px 191px, 263px 200px;

      &::before {
        top: -28px;
        height: 50px;
        z-index: 1;
      }
    }

    &_fourth {
      padding-top: 75px;
      padding-bottom: 250px;

      background-position: 0 100%;
      background-size: 113% 57%;
    }

    &_fifth {
      padding-top: 0;
      padding-bottom: 265px;
    }

    &_fifth::after {
      z-index: 1;
    }

    &_fifth__img {
      z-index: 1;
      bottom: -11%;
      right: 50%;
      transform: translate(50%, 0);
      width: 90%;
    }

    &_sixth {
      padding-top: 30px;
    }

    &_seventh {
      overflow: hidden;
    }

    &_eighth {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        z-index: 0;

        width: 100%;
        top: -25px;
        height: 50px;

        transform: skewY(-2.3deg);
        background-color: $pale-grey-three;
      }
    }

    &__list-block_fifth {
      z-index: 0;
    }

    &__title {
      margin-bottom: 12px;
    }

    &__subtitle {
      margin-bottom: 28px;
    }

    &__subtitle {
      margin-bottom: 28px;
    }

    &__subtitle_second {
      margin-bottom: 329px;
    }

    &__subtitle_sixth {
      margin-bottom: 55px;
    }

    &__video-container {
      bottom: -311px;
      z-index: 2;
      width: 100%;
    }

    &__video {
      transform: scale(.7) rotateX(-1deg) rotateY(-20deg) rotate(1deg) translateX(250px) translateY(0)!important;
    }

    &__left-laptop {
      display: none;
    }

    &__strawberry {
      display: none;
    }

  }

  .wyg-section {
    margin-bottom: 59px;

    &__txt {
      margin-top: 0;

      &_center-mobile {
        margin-top: 10px;
        text-align: center;
      }
    }

    &__title {
      margin-top: 0;
    }

    &__content-wrapper {
      height: 274px;
    }

    &__img {
      width: 100%;
      height: 100%;

      &_left {
        position: absolute;
        right: 0;
        width: auto;
      }

      &_right {
        position: absolute;
        left: 0;
        width: auto;
      }

    }

    &__video {
      width: 100%;
      height: 100%;
    }

    &__tip-block {
      padding-left: 0;
      margin-left: -40px;
    }

    &__tip-img {
      width: 250px;
      height: auto;
    }

  }

  .sale {
    flex-direction: column;

    &__gradient {
      padding-top: 42px;
      padding-bottom: 50px;
      width: 100%;
    }

    &__service {
      padding-top: 42px;
      padding-bottom: 50px;
      width: 100%;
    }

    &__title {
      margin-bottom: 12px;
      font-size: 34px;
    }

    &__price {
      min-width: 445px;
    }
  }

  .stories {

    &__story {
      margin-bottom: 29px;
    }

    &__img-wrapper {
      margin-right: 32px;
      width: 178px;
      height: 185px;
    }

    &__txt {
      width: 65%;
    }
  }
}


@media (max-width: $xs) {
  .wyg-top {
    padding-top: 79px;

    &::after {
      bottom: 15px;
      background-color: $pale-grey-three;
    }

    &__title {
      margin-bottom: 10px;
      width: 100%;
      @include fontSH(22px, 26px);
    }

    &__desc {
      margin-bottom: 13px;
      @include fontSH(18px, 20px);
    }

    &__img {
      position: static;
    }
  }

  .wyg-module {
    &_first {
      padding-top: 61px;
      padding-bottom: 164px;
    }

    &_third {
      padding-top: 48px;
      padding-bottom: 150px;

      background-image: url('../img/days@2x.png'), url('../img/photos1@2x.png'), url('../img/photos2@2x.png');
      background-position: 0 400px, -45% 95%, 5% 104%;
      background-size: 88%, 214px 240px, 247px 206px;
    }

    &_fourth {
      padding-top: 70px;
      padding-bottom: 280px;

      background-position: 0 bottom;
      background-size: 200%;
    }

    &_fifth {

    }

    &_sixth {

    }

    &__list-block {
      margin-left: 30px;
      margin-right: 30px;
      padding-left: 44px;
      padding-right: 30px;
    }

    &__subtitle {
      &_sixth {
        margin-bottom: 36px;
      }
    }

    &__video-container {
      bottom: -180px;
      overflow: hidden;
    }

    &__video {
      transform: scale(.8) rotateX(-1deg) rotateY(-20deg) rotate(1deg) translateX(100px) translateY(0)!important;
    }
  }

  .wyg-section {
    margin-bottom: 30px;

    &_last {
      padding-bottom: 30px;
    }

    &__content-wrapper {
      height: 164px;

      &_video {
        height: auto;
      }
    }

    &__title {
      @include fontSH(18px, 22px);
    }

    &__desc {
      font-size: 16px;
    }

    &__tip-block {
      padding-top: 0;
      padding-bottom: 25px;
    }
  }

  .sale {
    margin-bottom: 48px;

    &__service {
      position: relative;
      padding-top: 23px;
      padding-left: 20px;
      padding-right: 20px;

      &::before {
        content: '';
        position: absolute;
        top: -24px;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: $white;
        transform: skewY(-2.3deg);
      }
    }

    &__title {
      font-size: 28px;
      text-align: center;
    }

    &__desc {
      @include fontSH(18px, 22px);
      text-align: center;
    }

    &__advantages {
      margin-bottom: 20px;
    }

    &__prices {
      &-img {
        top: -80px;
        right: -65px;
      }
    }

    &__price {
      min-width: 235px;
    }

    &__btn {
      min-height: 57px;
      width: 250px;
    }
  }

  .stories {

    &__big-title {
      margin-top: 0;
      margin-bottom: 7px;
      font-size: 28px;
    }

    &__subtitle {
      margin-bottom: 37px;
      @include fontSH(18px, 22px);
    }

    &__img-wrapper {
      margin-right: 16px;
      width: 120px;
      height: 120px;
    }

    &__title {
      @include fontSH(18px, 22px);
    }

    &__desc {
      @include fontSH(16px, 18px);
    }
  }
}