/* Mounting point for all scss files */

@import "helpers";
@import "common";
@import "landing";
@import "footer";
@import "header";
@import "get-started";
@import "about-us";
@import "skew-bg";
@import "what-we-get";
@import "programm";
@import "programm_adv-system";
@import "programm_why-works";
@import "programm_why-succeed";
@import "programm_see-results";
@import "programm_decision";
@import "calculator";
@import "program_top";
@import "program_slider2";
@import "program_rules";
@import "accordion";
@import "program-trainers";
@import "program_slider1";

